@charset "utf-8";
/* eBook 508c CSS*/

* {
	padding: 0;
	margin: 0;
}
body {
	font-family:Arial, Verdana, sans-serif;
	font-size:12px;
	background: #364395;	
}
img {
	border: none;
}
#page {
	margin: 0 auto 0;
	width: 950px;
	border-left: #fff solid 1px;
	border-right: #fff solid 1px;
	background: #fff;
	/*word-wrap: break-word;*/
}


#top_area {
	height: 42px;
	background:url(../images/top_area.png) no-repeat;
}
#anchor_area {
	position: relative;
	float: right;
	top: 6px;
	right: 20px;
	width: 340px;
	height: 30px;
	color: #fff;
}
#anchor_links {
	font-size: 10px;
	text-align: right;
	padding: 4px 12px;
	line-height: 22px;
}
#anchor_links a:link {
	color: #fff;
	text-decoration: none;
}
#anchor_links a:visited, #anchor_links a:active {
	color: #fff;
	text-decoration: none;
}
#anchor_links a:hover, #anchor_links a:focus {
	color: #fff;
	text-decoration: underline;
}
#top_nav {
	height: 45px;
	background: url(../images/nav.png) repeat-x;
}
#nav_size {
	position: relative;
	float: left;
	top: 8px;
	left: 20px;
	color: #323c81;
	font-size: 15px;
	font-weight: bold;
}
.nav_size_text {
	float: left;
	margin: 5px 10px 0 0;
}
.nav_size_img {
	float: left;
	margin: 2px 0 0 0;
}
#nav_size_img {
	margin-right: 1em;
	padding-right: 1em;
	border-right: 1px solid #bbb;
}
.nav_size_img a{
    text-decoration:none;
}
#nav_paging a{
	text-decoration:none;
}
#content_paging a{
	text-decoration:none;
}
#nav_paging {
	position: relative;
	float: right;
	top: 8px;
	right: 20px;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	width: 350px;
	text-align: right;
	padding: 0px;
	padding-top: 2px;
}
#nav_paging img {
	vertical-align: bottom;
}
#nav_paging_img {
	margin-right: 1em;
	padding-right: 1em;
	border-right: 1px solid #bbb;
}
#nav_content_paging {
	display: inline;
	height: 28px;
	vertical-align: middle;
}
#nav_paging input {
	height: 18px;
	margin-right: .5em;
	margin-left: .25em;
	border: 2px solid #ccc;
}
#nav_paging label {
	vertical-align: middle;
}
#toc {
	float: left;
	width: 230px;
	margin: 0 0 15px 0;
	background: url(../images/toc_body.png) repeat-y;		
}
#toc_top_bar {
	background: #dee0e4 url(../images/toc_top_bar.png) no-repeat;
	height: auto;
	text-align: left;
	padding: 8px 10px;
}
#toc_top_bar h1 {
	font-size: 18px;
	font-weight: bold;
	color: #01025c;
	padding: 0px;
	vertical-align: middle;
}
#toc_content {
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#toc_bottom_bar {
	height: 10px;
	background: url(../images/toc_bottom_bar.png) no-repeat;
}
#wrap {
	clear: both;
	padding: 20px;
	width: 910px;	
}
#content_wrap {
	float: right;
	padding: 0;
	margin: 0 0 15px 0;
	width: 655px;
	_width: 610px;
	overflow: hidden;
}

#breadcrumb_bar_text a:visited {
	text-decoration: none;
}
#breadcrumb_left {
	height: 20px;
	width: 12px;
	float: left;
	background: url(../images/breadcrumb_bar_left.gif) no-repeat;
}
#breadcrumb_right {
	height: 20px;
	width: 12px;
	float: right;
	background: url(../images/breadcrumb_bar_right.gif) no-repeat;

}
#breadcrumb_bar {
	height: auto;
	background: #dee0e4 url(../images/breadcrumb_bar.gif) repeat-x;
}
#breadcrumb_bar_text {
	padding: 11px 15px 8px 15px;
	display: block;
	color: #323c81;
	font-size: 14px;
	font-weight: bold;
	/*added to remove overlapping of breadcrumb bar text background highlighting*/
	line-height: 20px;
}
#breadcrumb_bar_text em {
	color: #999;
}
#breadcrumb_bar_text a:link {
	padding: 2px 3px;
	color: #323c81;
	text-decoration: none;
	background: #c9cfe0;
}
#breadcrumb_bar_text a:hover, #breadcrumb_bar_text a:focus {
	text-decoration: none;
	background: #fff;
}
#breadcrumb_bar_text a:active, #breadcrumb_bar_text a:visited {
	padding: 2px 3px;
	color: #551a8b;
	text-decoration: none;
	background: #d7cce1;
}
#content_paging {
	float: right;
	height: 24px;
	margin: 2px 0 10px 0;
}
#page_header {
	float: left;
	color: #323c81;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
	padding: 0 0 0 15px;
}
#page_content {
	clear: both;
	margin: 0 0 0 15px;	
}
#page_content img {
	margin: 15px 0;
}
#bottom_nav {
	clear: both;
	height: 30px;
	padding: 0 20px 0 0;
	background: url(../images/bottom_nav.png) repeat-x;
}
#copyright {
	margin: 0 auto 0;
	padding: 6px 0;
	color: #fff;
	font-size: 9px;
	width: 950px;
	border-left: #fff solid 1px;
	border-right: #fff solid 1px;
	border-bottom: #fff solid 1px;
	text-align: center;
}
#copyright a:link {
	color: #fff;
	text-decoration: none;
}
#copyright a:visited, #anchor_links a:active {
	color: #fff;
	text-decoration: none;
}
#copyright a:hover, #anchor_links a:focus {
	color: #fff;
	text-decoration: underline;
}
#page_number {
	float: right;
	margin-top: 15px;
	height: 30px;
	width: 190px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	/*background: #dedede;*/
}
#page_number_left {
	float: left;
	width: 8px;
	height: 30px;
	/*background: url(../images/page_number_left.gif) no-repeat;*/
}
#page_number_right {
	float: right;
	width: 8px;
	height: 30px;
	/*background: url(../images/page_number_right.gif) no-repeat;*/
}
#page_number #hidden_page_number_text {
	position: absolute;
	left: -500px;
	color: #323c81;
}
.glossymenu {
	margin: 5px 0;
	padding: 0;
}
.glossymenu a.menuitem1 {
	background: #cacac8;
	color:#000;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	padding: 4px 0;
	padding-left: 10px;
	font-weight: bold;
	text-decoration: none;
	border: #fff solid 1px;
}
.glossymenu a.menuitem1:hover, .glossymenu a.menuitem1:focus {
	background: #d2d2d2;
}
.glossymenu a.menuitem2 {
	background: #ecebe8;
	color: black;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	padding: 4px 0;
	padding-left: 20px;
	text-decoration: none;
	border: #fff solid 1px;
}
.glossymenu a.menuitem .statusicon { /*CSS for icon image that gets dynamically added to headers*/
	position: absolute;
	top: 5px;
	right: 5px;
}
.glossymenu a.menuitem2:hover, .glossymenu a.menuitem2:focus {
	background: #f1f1f0;
}
.glossymenu div.submenu { /*DIV that contains each sub menu*/
	background: white;
}
.glossymenu div.submenu ul { /*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.glossymenu div.submenu ul li {
	border-bottom: 0px;
}
.glossymenu div.submenu ul li a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 3px 0;
	padding-left: 30px;
}
.glossymenu div.submenu ul li a:hover, .glossymenu div.submenu ul li a:focus {
	background: #f9f9f8;
	color: #000;
}
.tree {
	margin-right: 5px;
	padding-top: 3px;
}

#page_content ol {
	/*float: left;*/
	/*list-style: decimal outside;*/
}

#page_content ol span.hd {
	display: block;
	font-weight: bold;	
}

#page_content .inline {
	display: inline;
	vertical-align: bottom;
}

#page_content li {
	margin-left: 13px;
}

#page_content ul.pl {
	list-style-type: none;
}

#page_content div.imggroup {
	text-align: center;
	padding: .25em;
}

#page_content div.caption {
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

#page_content p {
	margin-bottom: 1em;
}

#page_content div.sidebar ol{
	border: 1px solid black;
	padding: 1em;
	/*padding: .5em;
	margin: .5em;*/	
}


#page_content .hd {
	font-weight: bold;
	font-size: 16px;
}

#page_content div.sidebar {
	border: 1px solid black;	
	padding: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
}

#page_content span.underline {
	text-decoration: underline;
}

#page_content span.strikethrough {
	text-decoration: line-through;
}

#page_content span.space {
}


