span.math-alt-text
{
   position: absolute; 
   top: 0; 
   left: 0; 
   font-size: 7px; 
   opacity: 0; 
   width: 100%; 
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

